@media (max-width: 768px) {
  /* Header Section */
  header .flex {
    flex-direction: column-reverse;
  }
  header .half-section {
    width: auto;
    text-align: center;
  }
  h1 {
    font-size: 40px;
  }

  /* About Section */
  #about {
    background-image: none;
    height: 900px;
    border: 1px solid;
  }
  #about .flex {
    flex-direction: column;
    /* margin-bottom: 200px; */
  }
  #about .half-section {
    width: auto;
    text-align: center;
  }

  /* Recipe Section */
  .recipe-heading p {
    padding: 0;
  }
  #recipe .recipe-container {
    flex-direction: column;
  }
  .recipe {
    width: 100%;
    margin-bottom: 100px;
  }

  /* Social Section */
  #social .container {
    margin-top: 0 !important;
  }
  #social .flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .social-stats {
    text-align: center;
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
  }
}
